<?xml version="1.0" encoding="utf-8"?>
<!-- Use https://gist.github.com/alimbada/449ddf65b4ef9752eff3 to export from an active installation. -->
<packages>
	<package id="1password" />
	<package id="7zip" />
	<package id="7zip.install" />
	<package id="chocolatey" />
	<package id="chocolatey-core.extension" />
	<package id="classic-shell" />
	<package id="dotnet4.6.2" />
	<package id="elsterformular" />
	<package id="everything" />
	<package id="Firefox" />
	<package id="foxitreader" />
	<package id="git.install" />
	<package id="hxd" />
	<package id="imgburn" />
	<package id="notepadplusplus" />
	<package id="notepadplusplus.install" />
	<package id="rufus" />
	<package id="shutup10" />
	<package id="skype" />
	<package id="spotify" />
	<package id="sublimetext3" />
	<package id="telegram" />
	<package id="telegram.install" />
	<package id="teracopy" />
	<package id="thunderbird" />
	<package id="virtualbox" />
	<package id="vlc" />
	<package id="windirstat" />
	<package id="winrar" />
</packages>
